numpy>=1.21.5
scikit-learn>=0.24.1
pandas>=1.3.3
joblib>=1.1.0
pupilcloud>=1.0.1
matplotlib>=3.4.3
seaborn>=0.11.2
xgboost==1.5.1
opencv-python>=4.3.0.38
streamlit>=1.3.0

plml @ git+https://github.com/pupil-labs/plml
pikit @ git+https://github.com/pupil-labs/pupil-invisible-toolkit
